{% extends 'base.html.twig' %}

{% block title %}Hello EmployeController!{% endblock %}

{% block body %}
<h1>Liste des employés</h1>

<a href="{{ path ('add_employe') }}"> Ajouter un employé </a><br>

{% for employe in employes %}

    <p><a href="{{path ('show_employe', {id : employe.id })}}">{{employe}}</a>
    <a href="{{path ('edit_employe', {id : employe.id })}}"> Editer </a>
    <a href="{{path ('delete_employe', {id : employe.id })}}"> Supprimer </a><br></p>

    {% endfor %}
{% endblock %}
